<div layout="column" ng-hide="isLoading" layout-padding>
	<div style="display: flex;flex-direction: row;margin: auto;height: 100%" class="md-whiteframe-1dp" md-colors="{background: 'default-background-700-1'}">
		<div style="display: flex;flex-direction: column;" layout-padding>
	 			<div style="display: flex;flex-direction: row; align-items: center">
	 				<img style="width: 52px; height: 52px;" src="https://www.cryptocompare.com/{{coin_data.ImageUrl}}">
	 				<a style="margin-left: 16px" class="md-display-1">{{coin_data.FullName}}</a>
	 			</div>

	 			<div layout="column" style="height: 100%">			
		 			<a class="md-body-1">Algorithm:  {{coin_data.Algorithm}}</a>
		            <a class="md-body-1">Proof type: {{coin_data.ProofType}}</a>
		            <a class="md-body-1">Total supply: {{coin_data.TotalCoinSupply}}</a> 
		            <a class="md-body-1">24H volume: {{volume}}</a>
		            <a class="md-body-1">Last market: {{last_market}}</a>
		            <a style="display: block;width: fit-content;color: white" class="md-body-1" ng-href="https://www.cryptocompare.com{{coin_data.Url}}">more info</a>
		            <div style="margin-top: auto;">
		              <div layout="row" align="start center">
		            		<md-icon style="height: 24px; margin: 0px" md-svg-src="{{coinArrow}}"></md-icon>
			              	<a ng-style="price_color" class="md-title"> 
			              	{{change}}
							<md-tooltip md-colors="{background-color:'default-background-900'}" md-direction="top">compared to today's open price</md-tooltip>
			              	</a> 
		              </div>
		              <a style="margin-right: 5px" class="md-display-1">{{price}}<span class="md-body-2"> USD</span> </a>
		            </div>
	 			</div>     
		</div>
		<div hide-xs id="chartdiv"></div>
	</div>

    <md-button ui-sref="coinlist" class="md-fab md-primary md-fab-bottom-left" aria-label="Go back">
		<md-icon md-svg-src="public/images/back_arrow.svg"></md-icon>
	</md-button>
</div>

<div layout="row" ng-show="isLoading" layout-padding layout-align="center center" style="padding: 15px">
	 <md-progress-circular style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
</div>
     