<md-content ng-cloak="" onscroll="myFunction()">
        <md-autocomplete
              md-selected-item-change="showDetails(selectedCoin)"
              ng-disabled="false"
              md-search-text="searchCoin"
              md-selected-item="selectedCoin"
              md-items="coin in searchText(searchCoin)"
              md-item-text="coin.FullName"
              md-min-length="1"
              placeholder="Search for coin" style="width: 320px;margin: auto; margin-bottom: 16px;margin-top: 16px">
            <md-item-template>
              <span md-highlight-text="searchCoin" md-highlight-flags="^i">{{coin.FullName}}</span>
            </md-item-template>
            <md-not-found>
              <a ng-click="">No coin found!</a>
            </md-not-found>
        </md-autocomplete>
    
    
        <md-content layout="row" layout-align="center" onscroll="myFunction()">
            <md-list infinite-scroll="loadMore()" infinite-scroll-immediate-check='false' infinite-scroll-disabled="isbusy" infinite-scroll-distance="1" flex="50">
                <md-list-item class="md-1-line" ng-repeat="item in coins" ui-sref="coinDetails({coin_data: item, coinName: item.FullName})">
                  <md-divider ></md-divider>
                    <img src="https://www.cryptocompare.com/{{item.ImageUrl}}" width="32px" style="margin-right: 12px">
                    <div class="md-list-item-text" layout="column">
                        {{item.FullName}}
                    </div>
                </md-list-item>      
            </md-list>
        </md-content> 
        <md-button class="md-fab md-primary md-fab-bottom-right" style="position: fixed;" aria-label="Scroll to top" ng-click="scrollTop()">     
            <md-tooltip md-colors="{color: 'default-background-900'}" md-direction="top">scroll to top</md-tooltip>
            <md-icon md-svg-src="public/images/arrow-collapse-up.svg"></md-icon>
      </md-button> 
    
</md-content>