<div ng-cloak="">
        <md-autocomplete
              md-selected-item-change="showDetails(selectedCoin)"
              ng-disabled="false"
              md-search-text="searchCoin"
              md-selected-item="selectedCoin"
              md-items="coin in searchText(searchCoin)"
              md-item-text="coin.FullName"
              md-min-length="1"
              placeholder="Search for coin" style="width: 35%;margin: auto; margin-bottom: 2%;margin-top: 2%">
            <md-item-template>
              <span md-highlight-text="searchCoin" md-highlight-flags="^i">{{coin.FullName}}</span>
            </md-item-template>
            <md-not-found>
              <a ng-click="">No coin found!</a>
            </md-not-found>
        </md-autocomplete>

    <md-radio-group ng-model="data.group1" class="md-primary" layout="row" layout-align="center" style="margin-bottom: 2%">

      <md-radio-button value="Apple"> market Cap </md-radio-button>
      <md-radio-button value="Banana"> price </md-radio-button>
      <md-radio-button value="Mango"> name </md-radio-button>

    </md-radio-group>
    
    <div infinite-scroll="loadStuff()">
        <md-content layout="row" layout-align="center">
            <md-list flex="50">
                <md-list-item class="md-2-line" ng-repeat="item in coins" ui-sref="coinDetails({coin_data: item, coinName: item.FullName})" style="margin-bottom: 5px" >
                    <img src="https://www.cryptocompare.com/{{item.ImageUrl}}" width="60px"  style="margin-right: 1.5%">
                    <div class="md-list-item-text" layout="column">
                        <h3 class="md-display-1">{{item.FullName}}</h3>
                    </div>
                </md-list-item>      
            </md-list>
        </md-content> 
    </div>
</div>