<md-content ng-cloak="" layout="column" layout-align="center center" layout-margin>
        <md-autocomplete
              md-selected-item-change="showDetails(selectedCoin)"
              ng-disabled="false"
              md-search-text="searchCoin"
              md-selected-item="selectedCoin"
              md-items="coin in searchText(searchCoin)"
              md-item-text="coin.FullName"
              md-min-length="1"
              placeholder="Search for coin" style="width: 320px">
            <md-item-template>
              <span md-highlight-text="searchCoin" md-highlight-flags="^i">{{coin.FullName}}</span>
            </md-item-template>
            <md-not-found>
              <a ng-click="">No coin found!</a>
            </md-not-found>
        </md-autocomplete>
    
        <md-content layout="row" style="width: 100%" layout-align="center">
          <md-list infinite-scroll="loadMore()" infinite-scroll-immediate-check='true' infinite-scroll-disabled="isbusy" infinite-scroll-distance="2" flex="50" flex-xs="100" md-whiteframe="1" style="padding: 0px">
              <md-list-item class="md-1-line" ng-repeat="item in coins" ui-sref="coinDetails({coin_data: item, coinName: item.Symbol})">
                  <img ng-src="https://www.cryptocompare.com/{{item.ImageUrl}}" width="32px" style="margin-right: 12px">
                  <div class="md-list-item-text" layout="column">
                      {{item.FullName}}
                  </div>
                  <md-divider ></md-divider>
              </md-list-item>      
          </md-list>
        </md-content>

        <md-button class="md-fab md-primary md-fab-bottom-right animatestuff" aria-label="Scroll to top" ng-click="scrollTop()" ng-show="showFAB">
            <md-tooltip md-direction="top">back to top</md-tooltip>
            <md-icon md-svg-src="public/images/arrow-collapse-up.svg"></md-icon>
      </md-button> 
</md-content>