<div role="dialog" style="height: 100%;width: 100%" layout="column" layout-align="center center" md-theme='default'>
  
  <md-toolbar>
    <div layout="row" class="md-toolbar-tools" md-theme="default">
      <img style="margin-right: 1.5%; width: 48px" src="https://www.cryptocompare.com/{{item.ImageUrl}}">
      <h2>{{item.FullName}}</h2>
      <md-button class="md-icon-button" style="margin-left: auto;" ng-click="closeDialog()">
        <md-icon md-svg-src="public/images/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>

  </md-toolbar>

  <div class="demo-dialog-content" style="display: flex;flex-direction: column; height: 100%;width: 100%">
      
      <div style="display: flex;flex-direction: row">
        <div style="display: flex;flex-direction: column;flex: 3">
            <a class="md-display-1">{{item.Symbol}}</a>
            <a class="md-body-1">Algorithm:  {{item.Algorithm}}</a>
            <a class="md-body-1">Proof type: {{item.ProofType}}</a>
            <a class="md-body-1" style="width: auto;" ng-href="https://www.cryptocompare.com{{item.Url}}">more info</a>
            <div style="margin-top: 15px">
              <a style="margin-right: 5px" class="md-body-2">Current price:<br> {{price}} </a>
              <a ng-style="price_color"> {{change}} </a> 
            </div>
            
        </div>


        <div style="flex:6; height: 100%;width: 100%">
            <div layout="row" ng-show="isLoading" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <canvas id="line" width="100%" height="100%" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas> 
        </div>
      </div>
 
  </div>
</div>