<div class="drek" layout="column" ng-hide="isLoading" layout-padding ng-cloak="">
	<div md-colors="$root.currentTheme === 'default' ? {}:{background: 'default-background-700-0.8'}" style="border-radius: 6px; display: flex;flex-direction: row;margin: auto" md-whiteframe="1">
		<div style="display: flex;flex-direction: column;padding-bottom: 0px" layout-padding>
	 			<div style="display: flex;flex-direction: row; align-items: center">
	 				<img style="width: 52px; height: 52px;" ng-src="https://www.cryptocompare.com/{{coin_data.ImageUrl}}">
	 				<a style="margin-left: 16px" class="md-display-1">{{coin_data.FullName}}</a>
	 			</div>

	 			<div layout="column" style="height: 100%; padding-bottom: 0px">			
		 			<span class="md-body-1">Algorithm:  {{coin_data.Algorithm}}</span>
		            <span class="md-body-1">Proof type: {{coin_data.ProofType}}</span>
		            <span class="md-body-1">Total supply: {{coin_data.TotalCoinSupply}}</span>
		            <span class="md-body-1">24H volume: {{volume}}</span>
		            <span class="md-body-1">24H high: {{high24hour}}</span>
		            <span class="md-body-1">24H low: {{low24hour}}</span>

		            <div>
		            	<a style="text-decoration: none;" ng-href="https://www.cryptocompare.com{{coin_data.Url}}">
		            		<span class="md-body-1" md-colors="{color: 'default-primary'}">more info</span>
		            	</a>
		            </div>

		            <div class="hiddenDrek" ng-show="price" style="margin-top: auto">
		              <div style="position: relative;left: -5px" layout="row" align="start center">
		            		<md-icon style="height: 24px; margin: 0px" md-svg-src="{{priceArrow}}"></md-icon>
			              	<span ng-style="price_color" class="md-title"> 
			              		{{change}} <span ng-show="change">%</span>
								<md-tooltip md-direction="top">compared to today's open price</md-tooltip>
			              	</span> 
		              </div>
		              <a style="margin-right: 5px" class="md-display-1">{{price}}<span class="md-body-2">USD</span> </a>
		            </div>
	 			</div>     
		</div>

		<div layout="column">
			<div hide-xs id="chartdiv" style="margin-bottom: 8px; margin-right: 8px"></div>
			
			<section hide-xs layout="row" style="padding: 0px;height: auto">
				<span style="text-align: center; align-self: center; font-weight: 500;flex-basis: auto;flex-shrink: 1" class="md-caption" flex="15">Zoom:</span>
				<md-button class="candlestick md-primary md-raised" md-ink-ripple="false" ng-repeat="zoomSize in zoomSizes" ng-click="changeZoom(zoomSize)" ng-class="{'leftup': zoomSize == zoomSizes[0],'rightup': zoomSize == zoomSizes[zoomSizes.length-1], 'md-accent': selectedZ.label === zoomSize.label}">
					{{zoomSize.label}}
				</md-button>
			</section>
			
			<section hide-xs layout="row" style="padding: 0px;height: auto;">		
				<span style="text-align: center;align-self: center; font-weight: 500;flex-basis: auto;flex-shrink: 1 " class="md-caption" flex="15">Candlestick:</span>
				<md-button class="candlestick md-primary md-raised" md-ink-ripple="false" ng-repeat="candleSize in candleSizes" ng-click="changeCandle(candleSize)" ng-class="{'left': candleSize == candleSizes[0],'right': candleSize == candleSizes[candleSizes.length-1], 'md-accent': selectedC.label === candleSize.label}">
					{{candleSize.label}}
				</md-button>
			</section>
		</div>
		
	</div>
	<md-button id="backButton" ui-sref="coinlist" class="md-fab md-primary md-fab-bottom-left" aria-label="Go back" style="position: static;">
		<md-icon md-svg-src="public/images/back_arrow.svg"></md-icon>
	</md-button>
    
</div>

<div layout="row" ng-show="isLoading" layout-padding layout-align="center center" style="padding: 15px">
	 <md-progress-circular style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
</div>
     