<md-content layout-padding infinite-scroll="LoadArticles()" infinite-scroll-immediate-check='false' infinite-scroll-disabled="isbusy" infinite-scroll-distance="0" infinite-scroll-parent="true"> 
    <div layout="row" layout-wrap layout-align="center"> 

        <md-card flex="40" flex-sm="100" flex-xs="100" ng-repeat="article in articles" style="border-radius: 6px">
            <md-card-title>
              <md-card-title-text style="padding-right: 8px">
                <span class="md-title">{{article.title}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <img ng-src="{{article.urlToImage}}" style="border-radius: 6px" class="md-media-sm card-media">
              </md-card-title-media>
            </md-card-title>
            <md-card-content layout-align="start">
                <span class="md-caption">{{article.description}}</span>
            </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                  <md-button class="md-icon-button" aria-label="Read story" ui-sref="article({article: article, articleName: article.title})">
                      <md-icon md-svg-icon="public/images/ic_library_books_black_24px.svg"></md-icon>
                  </md-button>

                  <md-button class="md-icon-button" aria-label="Like story">
                      <md-icon md-svg-icon="public/images/ic_favorite_border_black_24px.svg"></md-icon>
                  </md-button>

                     <md-button class="md-icon-button" aria-label="Share story">
                      <md-icon md-svg-icon="public/images/ic_share_black_24px.svg"></md-icon>
                  </md-button>
          
        </md-card-actions>
        </md-card>
    </div>    
    <div layout="column" ng-show="isbusy" layout-sm="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
     <md-button ng-cloak ng-init="showFAB=false" class="md-fab md-primary md-fab-bottom-right animatestuff"; aria-label="Scroll to top" ng-click="scrollTop()" ng-show="showFAB">
            <md-icon md-svg-src="public/images/arrow-collapse-up.svg"></md-icon>
    </md-button>  
</md-content>