<md-content layout="column" layout-padding style="width: 50%; margin: auto;">
	<h1 class="md-display-1"> Fill form to register your account</h1>
	<form name="signUpForm" ng-submit="signUpForm.$valid && sendForm()" novalidate>
		<md-input-container class="md-block" flex-gt-sm>
		    <label>Username</label>
		    <input name="userName" ng-model="userName" type="text" required ng-pattern='/^[a-zA-Z0-9._-]+$/'>
		    <div ng-messages="signUpForm.userName.$error" role="alert">
		      <div ng-message-exp="['required', 'pattern']">
		        This field is required.
		      </div>
		    </div>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
		    <label>Email</label>
		    <input required type="email" name="clientEmail" ng-model="clientEmail"
		               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
		    <div ng-messages="signUpForm.clientEmail.$error" role="alert">
		      <div ng-message-exp="['required', 'minlength', 'maxlength', 'ng-pattern']">
		        Your email must be at least 10 characters long and look like an e-mail address.
		      </div>
		    </div>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
		    <label>Password</label>
		    <input name="password" ng-model="password" type="password" required minlength="8">
		    <div ng-messages="signUpForm.password.$error" role="alert">
		      <div ng-message-exp="'required'">
		        This field is required
		      </div>
		      <div ng-message-exp="'minlength'">
		        Must contain atleast 8 characters and include 1 uppercase and 1 digit
		      </div>
		    </div>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
		    <label>Repeat password</label>
		    <input required type="password" title="must match" name="passwordConf" ng-model="passwordConf" ng-pattern="{{password}}">
		    <div ng-messages="signUpForm.passwordConf.$error" role="alert">
		      <div ng-message-exp="'required'">
		        This field is required
		      </div>
		      <div ng-message-exp="['required','pattern']">
		        Password fields must match!
		      </div>
		    </div>
		</md-input-container>

		<md-input-container>
			<md-button class="md-primary" ngf-select ng-model="picFile" accept="image/*">
            Upload image</md-button>
	        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
	             class="cropArea">
	            <img-crop image="picFile  | ngfDataUrl"                 
	            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
	            </img-crop>
	        </div>
		</md-input-container>

	 	<div>
        	<md-button class="md-primary md-raised" type="submit">Submit</md-button>
	    </div>
	</form>

</md-content>