<md-menu md-position-mode="target bottom">
   <md-nav-item class="navbutton menuitem" md-nav-ink-bar="false" aria-label="Open demo menu" md-nav-click="profileClick($mdMenu)" name="login" aria-label="user" style="min-width: 0px !important">
        <div layout="row" layout-align="center center" style="justify-content: flex-end;">
          <span hide-xs style="text-transform: none; margin-right: 6px">{{tabName}}</span>
          <img ng-src="{{imgSrc}}" style="margin: 0px;height: 24px;border-radius: 50%">
        </div>
   </md-nav-item>
    <md-menu-content width="3">
        <md-menu-item>
          <md-button ui-sref="signedin({userId: tabName})" aria-label="profile button">
                <md-icon md-svg-src="public/images/ic_person_black_48px.svg"></md-icon>
                Profile
           </md-button>   
        </md-menu-item>
         <md-menu-item>
          <md-button aria-label="theme button" ng-click="changeTheme()">
                <md-icon md-svg-src="{{themeStuff.icon}}"></md-icon>
                {{themeStuff.label}}
           </md-button>   
        </md-menu-item>
        <md-menu-item>
          <md-button aria-label="theme button" ng-click="signOut()">
                <md-icon md-svg-src="public/images/ic_exit_to_app_black_48px.svg"></md-icon>
                Sign out
           </md-button>   
        </md-menu-item>
      </md-menu-content>
</md-menu>