.header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px
}

.articleCard:{
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}


.articleCard:hover{
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.md-button.md-fab.animatestuff.ng-hide{
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0);
    transition: all 200ms ease-in;
    transform: scale(0);   
}

.md-button.md-fab.animatestuff{
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-out;
    transform: scale(1);   
}

md-tabs.md-no-animation md-ink-bar {
    transition: none;
}

  md-nav-bar .md-nav-bar {
      padding: 0px;
      margin: 0px
}

.ticker{
	display: flex;
	flex-direction: column;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
      width: 680px;
      height: 514px;
}

.demo-dialog-content {
  padding: 18px;
  color: black;
}

.demo-dialog-button {
  width: 100%;
}

#chartdiv {
  width : 520px;
  height  : 400px;
  margin-right: auto;
  align-self: flex-start;
} 

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}


/* fixes bug in md-autocomplete(selecting item) */
/*.md-scroll-mask { position: initial !important;} */