
.header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px
}

.articleCard:{
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}


.articleCard:hover{
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);   
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 15px;
}

md-tabs.md-no-animation md-ink-bar {
    transition: none;
}

  md-nav-bar .md-nav-bar {

}

.ticker{
	display: flex;
	flex-direction: column;
	padding: 1%;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}


.demo-md-panel {
  

}


.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
      width: 680px;
      height: 514px;
}

.demo-dialog-content {
  padding: 18px;
  color: black;
}

.demo-dialog-button {
  width: 100%;
}


.radioButtondemoBasicUsage body {
  padding: 20px; }

.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }

.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
  padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }

.radioButtondemoBasicUsage md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }

.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }

  #chartdiv {
  width : 725px;
  height  : 400px;
  margin-left: auto;
} 
/* fixes bug in md-autocomplete(selecting item) */
/*.md-scroll-mask { position: initial !important;} */