.header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.articleCard{
  cursor: pointer;
}

.md-fab.animatestuff.ng-hide{
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0);
    transition: all 200ms ease-in;
    transform: scale(0);   
}

.md-fab.animatestuff{
  position: fixed !important;
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-out;
    transform: scale(1);   
}

md-tabs.md-no-animation md-ink-bar {
    transition: none;
}

  md-nav-bar .md-nav-bar {
      padding: 0px;
      margin: 0px
}

.ticker{
	display: flex;
	flex-direction: column;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
      width: 680px;
      height: 514px;
}

.demo-dialog-content {
  padding: 18px;
  color: black;
}

.demo-dialog-button {
  width: 100%;
}

#chartdiv {
  width : 620px;
  height  : 400px;
} 

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

/* fixes bug in md-autocomplete(selecting item) */
/*.md-scroll-mask { position: initial !important;} */

/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  left: 50%;
  top: 50%;
  display: block;
  position: absolute;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.cropArea {
    overflow: hidden;
    width: 192px;
    height:192px;
}

md-input-container{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 320px
}

.candlestick{
  min-width: 48px;
  padding: 0px;
  margin: 0px;
  border-radius: 40px;
  text-transform: none;
  height: 18px;
  line-height: 0px;
  min-height: 0px;
  font-size:11px;
  margin: 2px
}

.selectedZoom{
  background-color: red !important;
}

md-nav-ink-bar{
  background: white !important;
  height: 3px !important;
}

.md-nav-bar{
  border-width: 0px !important;
}


/* For Tablets */
@media screen and (min-width: 600px) and (max-width: 860px) {
    #chartdiv {
        width: 320px;
        height: 280px
    }

    #backButton{
      display: none;
    }
}

.liked{
  fill: #E91E63
}